*{
	margin:0;
	padding: 0;
	font-family :'Questrial', sans-serif;
}
body{
	margin-bottom: 50px;

    color: #555;
}

header {
	position: relative;
	background-color: #04B4AE;
	border-radius: 10px;
} 

header img{
	float: right;
	margin: 10px;
}

header h1 {
	position: absolute;
	top: 20px;
	left: 530px;
	text-align: center;
}

.clear{
	clear: both;
}

.btn{
	width: 200px;
	background-color: #0080FF;
	border-radius: 20px;
	padding: 10px;
	color: white;
	border: 1px solid #0080FF;
	margin:10px;
}

#piso2 h3, #piso3 h3, #piso4 h3{
	text-align: center;
	margin-top: 20px;
}

#content{
	width: 950px;
	background-color: #EFFBFB;


}
#pasillo h3{
	text-align: center;
	letter-spacing: 0.5em;
}
.icon{
	margin: 20px 0 20px 0;
	padding: 30px 15px 30px 15px;

}
.lab a,.aula a{
	text-decoration: none;
	color: black;
    font-size: 15px;
    float: left;
}
.lab,.aula {
	display: inline;
	text-align: center;
	float: right;
	width: 130px;
	border: 2px solid #b3b3ff;
	margin: 40px 1px 40px 1px;
	padding: 40px;
	background-color: #CEECF5;
	position: relative;
   
}
#first{
	width: 138px;
	padding-bottom: 55px;
	padding: 40px;
}
#fin{
	margin-right: 20px;
}
.soda{
	display: inline;
	float: right;
	width: 100px;
	margin: 40px 1px 40px 1px;
	padding: 35px;
}
.lab img,.aula img{
	position: absolute;
	bottom: 0px;
	right: 0px;
}
.izq{
	top: 0;
	left: 0;
}
.dcha{
	top:0;
	right: 0;
}

.aula:hover{
	display: block;
	background-color:#A9BCF5;
	background-repeat: no-repeat;
	background-position: center;
}
.lab:hover{
	display: block;
	background-color:#A9BCF5;
	background-repeat: no-repeat;
	background-position: center;
}
footer {
	color: #999999;
	font-size: 14px;
	margin-top: 10px;
	padding: 10px 0;
	border-top: #999999 1px solid;
	text-align: center;
}
#popup {
    visibility: hidden;
    opacity: 0;
    margin-top: -300px;
}

#popup:target {
    visibility:visible;
    opacity: 1;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:0;
    z-index: 999;
    -webkit-transition:all 1s;
    -moz-transition:all 1s;
    transition:all 1s;
}
.popup-contenedor {
    position: relative;
    margin:7% auto;
    padding:30px 50px;
    background-color: #fafafa;
    color:#333;
    border-radius: 3px;
    width:50%;
}
a.popup-cerrar {
    position: absolute;
    top:3px;
    right:3px;
    background-color: #333;
    padding:7px 10px;
    font-size: 20px;
    text-decoration: none;
    line-height: 1;
    color:#fff;
}